
### macOS ###
.DS_Store

### Java ###
**/target/
**/WEB-INF/classes/
**/WEB-INF/lib/

# spring boot
**/resources/application-*.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code & Eclipse ###
.classpath
.factorypath
.project
**/.settings/
